.card {
  max-width: 413px;
  position: relative;
  overflow: hidden;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  position: relative;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-button {
  background-image: url(../images/like-icone.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/like-active-btn.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-image: url(../images/delete-btn.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    opacity: 1;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }

  .card__delete-button:hover {
    background-image: url(../images/delete-btn-hover.svg);
    opacity: 1;
  }

@media screen and (max-width: 627px) {

  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }

  }
